# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro bundler cache
metro-cache/

# Android
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties
android/app/src/main/assets/index.android.bundle

# iOS
ios/Pods/
ios/build/
ios/.idea/
ios/.DS_Store
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/*.xcuserdatad/
ios/*.xcodeproj/*.xcscmblueprint

# React Native packager
.expo/
.expo-shared/

# Temporary files
*.swp
*.swo
*.swn

# IDE/Editor specific files
.vscode/
.idea/
*.iml

# Testing
coverage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Miscellaneous
.env
*.log
*.lock
